@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
    --font-family: "Poppins", sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

.search_container {
    width: 100%;
    height: 30vh;
    background-image: url("../images/pattern-bg.png");
    background-color: hsl(228, 45%, 44%);
    background-size: cover;
    background-repeat: no-repeat;
}

.search_heading {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 1.5rem;
}

.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.452);
    width: 30rem;
    border-radius: 20px;
}

.form_container input {
    padding: 1.2rem 1.5rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    outline: none;
}

.form_container input {
    font-size: 1.1rem;
    color: rgb(71, 71, 71);
    width: 30rem;
} 

.input_btn {
    height: 60px;
    width: 60px;
    outline: none;
    border: none;
    background-color: rgb(19, 19, 19);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: .3s ease;
    cursor: pointer;
}

.input_btn:hover {
    background-color: rgb(68, 68, 68);
}

.info_container {
    position: absolute;
    top: 25%;  
    left: 50%; 
    transform: translate(-50%, -25%);

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    background-color: white;
    width: 75%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.452);
    border-radius: 20px;
}

.info_container .info_lists {
    color: rgb(110, 110, 110);
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info_lists li {
    position: relative;
    width: 200px;
}

.map_container {
    width: 100%;
    height: 70vh;
    background-color: white;
}